.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {

  grid-row-start: 2;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: 1200px;
  flex-wrap: wrap;
}

.addButton{
  text-align: center;
  margin-top: 40px;
}
